@font-face {
    font-family: 'EuclidCircular';
    src: local('EuclidCircular'),
         url('../assets/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Regular.ttf') format('truetype'), /* Super Modern Browsers */
}

html {
    font-family: EuclidCircular, sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, .88);
}

html, body {
    background: rgba(12,10,29,.96);
}

body {
    min-height: 100vh;
}

.container {
    margin-left: auto;
    margin-right: auto;

    padding-left: var(--gds-container-padding);
    padding-right: var(--gds-container-padding);
}

.App {
    overflow-x: hidden;

    @media screen and (min-width: 749px) { 
        --gds-container-padding: 32px;
        --gds-header-height: 96px;
        --gds-header-height-visible: 96px;
    }

    @media screen and (max-width: 768px) {
        --gds-container-padding: 16px;
        --gds-header-height: 64px;
        --gds-header-height-visible: 64px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}